**/build/*
**/bin/*
**/tmp/*
**/deploy/*
**/.settings/
**/geoip-data/
**/node_modules/
**/.idea/
**/nlp_model/
**/lda_model/
**/target/
**/.gradle/
adsplay-report/public/ads/

**.zip
**.class
**.classpath
**.log
**.iml
**/gradlew
**/gradlew.bat

docs/domain.txt
core-leo-cdp/data-of-real-customer/
core-leo-cdp/data-of-real-customer/*
core-leo-cdp/gradle/*

# CDP database configs must be excluded in commit 
core-leo-cdp/configs/database-configs.json
core-leo-cdp/configs/PRO-database-configs.json
core-leo-cdp/sample-trading-data/*


# Airflow 
./airflow-ai-env/airflow-venv
**/airflow-venv

**/__pycache__/*
**/logs/*
airflow-ai-agent/.env
